@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.logo {
  background: linear-gradient(246.75deg, #FF636E 39.2%, #FFBC71 97.91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.customStyleVirat {
  background: url(/public//home\ screen/virat.png), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.customStyleVirat::after,
.customStyleDhoni::after {
  content: "";
  position: absolute;
  background: url("/public/home\ screen/icons/questionMarkk.svg");
  background-position: center;
  z-index: 100;
  width: 4.48rem;
  height: 6.755rem;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.customStyleDhoni {
  background: url(/public//home\ screen/dhoni.png), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  ;

}